<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="container color-dark">
  <div class="col">  	
  	<ul>
	  <li><a id="subRouting" routerLink="personal">Personal</a></li>
	  <li><a id="subRouting" routerLink="professional">Professional</a></li>
	</ul>
  </div>
</div>
<div class="container1 color-light">
	<div class="col">
	  	<p>  If you're looking for something like my resume or my academical background, please, click in the professional tab.</p><br>
	  	<p>  If you're looking for something else, wants to know a a few facts and curiosities about me, please, click in the personal tab.</p>
	</div>
</div>


<router-outlet></router-outlet>