<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="container color-dark">
  <div class="col">
  </div>
</div>
<div class="container4 color-light">
  <div class="col">
	<a href="https://www.facebook.com/drigo.valenca">
  	<img src="/assets/images/facebook.png"></a>
  </div>
  <div class="col">
  	<img style="opacity: 0.2;" src="/assets/images/linkedin.png">
	<a></a>
  </div>
  <div class="col">
  		<span (click)="HS()"><img src="/assets/images/telegram.png"></span>	
  		<div id="textHS"> Text me @KhalDrigo </div>
  </div>
  <div class="col">
	<a href="mailto:rbv3@cin.ufpe.br">
  	<img src="/assets/images/gmail.png"></a>
	</div>
</div>




<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
