<div class="container color-dark">
  <div class="col">  	
  	<ul>
	  <li><a id="subRouting" routerLink="../personal">Personal</a></li>
	  <li><a id="subRouting" routerLink="../professional">Professional</a></li>
	</ul>
  </div>
</div>
<div class="container1 color-light">
  <div class="col">  	
   <p>
	  Well, in the links below you'll find my lattes curriculum -a brazilian research platform-, in portuguese, and my regular resume, in english.
	</p>
  </div>
</div>
<div class="container color-light">
  <div class="col" id="imgIcon">
	<a href="http://lattes.cnpq.br/7938817105605497">
  	<img src="/assets/images/lattes.png"></a>
  </div>
	<div class="col" id="imgIcon">		
		<a href="/assets/images/cv.pdf" target="_blank"><img src="/assets/images/pdf.png"></a>
	</div>
</div>


<router-outlet></router-outlet>